header{
    background-image: url(../images/hdr-ftr_background.jpg);
    background-repeat: no-repeat;
    background-size: 100%, auto;
    background-position: center;
}

#body_hp{
    background-color: aliceblue;
}